.sideview{
  background-color:#2E86C1;
  height:125%;
  width:90%;
  margin-left:-15px;
  padding-left:15px;
 
}
.topview{
	background-color:#2E86C1;
	height:50px;
}
.Mingler{
	color:white;
	font-size:30px;
  font-weight:bold;
  margin-top:-25px;
}
.profile{
	height:100px;
	width:100px;
	border-radius:100%;
	margin-top:35px;
	margin-left:17px;
}
.name{
	margin-top:15px;
	margin-left:17px;
	font-size:20px;
}
.detail{
	text-align:center;
}
.robot{
	margin-top:35px;
	text-align:center;
	width:710px;
	height:200px;
	border-radius:25px;
}
@media only screen and (max-width: 414px) {
.detail {
	text-align:center;
  }
  .robot{
	  width:320px;
	  height:150px;
	  margin-left:1px;
  }
  .content{
	  width:100%;
	  margin-top:15px;
	  margin-left:-35px;
  }
  .credit{
	  margin-right:30px;
  }
  .fa-pencil,.fa-trash,.fa-plus-circle{
	  visibility:hidden;
  }
  .profile{
	  margin-top:-80px
  }
  .Mingler{
    font-size:25px;
    margin-top:-25px;
    margin-right: 10px;
  }
.toggle{
   top: 10px;
 }
 .sideview{
  visibility: hidden;
 }
 .robot{
   margin-top:-100px;
   
 }
}
@media only screen and (min-width: 411px){
  .toggle{
    visibility: hidden;
  }
}

.objective{
	margin-left:17px;
}
.hundred{
	float:right;
}

.create{
	margin-top:3px;
	float:right;
  border-radius:30px;
 
}
.content{
	margin-left:35px;
}
.class1{
	width:3px;
	height:30px;
	background-color:white;
}
.toogle{
  padding-top:10px;
}
/*Navbar*/
body {
  font-family: "Lato", sans-serif;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color:#2E86C1;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
  
}

